<div :if={assigns[:models]}>
  <form action="#" method="get" class="" phx-submit="form-get-model">
    <div class="row">
      <a href="https://ollama.com/library">https://ollama.com/library</a>
      <br />
    
      <label for="control_id" class="control-label">Model name</label>
      <.input id="model-select" type="text" name="model_name" value="qwen2.5:0.5b" autofocus="autofocus" />
      <%!-- qwen2.5:0.5b --%>
    </div>

    <button type="submit" class={"btn btn-primary"}>
      Get model
    </button>
  </form>
  <br />
  
  <h4>Or grab a commonly selected model:</h4>
  <div class="btn btn-info m-1"
    :for={model_name <- @popular_models}
    phx-click="quick-get-model"
    phx-value-model_name={model_name}
  >
    <Fontawesome.icon icon="download" style="regular" />
    <%= model_name %>
  </div>
</div>
