<div id="index-live-wrapper">
  <SumaWeb.EmbedComponents.filter_bar current_user={@current_user} active="list" />

  <.table id="contents" rows={@contents} table_class="table-sm table-hover">
    <:col :let={content} label="Name"><%= content.name %></:col>
    
    <:action :let={content}>
      <.link navigate={~p"/embeds/#{content.name}"} class="btn btn-secondary btn-sm">
        Show
      </.link>
    </:action>
  </.table>
</div>
